/* body{

    background-color: red;
} */

.card{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    color: white;
    background-color: #262626;
}

.card-title{
    color: white;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.container{
    margin-top: 10px;
    background-color: #121212;
    position: absolute;
    right: 70px;
    bottom: 30px;
    height: 200px;
}
img {
    display:block;
    margin:auto;
}
.slick-prev:before, .slick-next:before {
    color: #C5C5C5  !important;
}




.follow{
    background-color: #3897f0 !important;
    border: 1px solid #3897f0 !important;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px !important;
}
